- name: Install vscodium
  ansible.builtin.command: nix-env -iA nixpkgs.vscodium
  changed_when: false

- name: Creates vscodium conf directory if not exists
  ansible.builtin.file:
    path: "{{ vscodium_conf_dir }}"
    state: directory
    mode: u=rwx

- name: Check if settings.json exists
  ansible.builtin.stat:
    path: "{{ vscodium_conf_dir }}/settings.json"
  register: vsc_conf_stat
  failed_when: false

- name: Backup settings.json
  ansible.builtin.command: mv {{ vscodium_conf_dir }}/settings.json {{ vscodium_conf_dir }}/settings.json.bak
  when: vsc_conf_stat.stat.exists
  changed_when: false

- name: Symlink settings.json
  ansible.builtin.file:
    src: "{{ role_path }}/files/settings.json"
    dest: "{{ vscodium_conf_dir }}/settings.json"
    state: link
