- name: Creates .git_hooks directory if not exists
  ansible.builtin.file:
    path: "{{ git_hooks }}"
    state: directory
    mode: u=rwx,g=r,o=r

- name: Install cocogitto
  ansible.builtin.command: cargo install --locked cocogitto
  changed_when: false

- name: Add conventional commit hook
  ansible.builtin.copy:
    dest: "{{ git_hooks }}/commit-msg"
    content: |
      #!/bin/sh

      COMMIT_MSG_FILE=$1

      MESSAGE=$(cat $COMMIT_MSG_FILE)

      if {{ user_home }}/.asdf/installs/rust/stable/bin/cog verify "$MESSAGE"; then
          echo "Commit parse succeeded"
      else
          echo "See https://www.conventionalcommits.org/en/v1.0.0"
          exit 1
      fi
    mode: "0755"

- name: Set global git hook location
  community.general.git_config:
    name: core.hooksPath
    scope: global
    value: "{{ git_hooks }}"
