- name: Installs tmux
  become: yes
  apt:
    name: tmux
    state: present

- name: Ensure xclip is installed
  become: yes
  apt:
    name: xclip
    state: present

- name: Import tmp
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ user_home }}/.tmux/plugins/tpm"

- name: Check if .tmux.conf exists
  stat: path="{{user_home}}/.tmux.conf"
  register: tmux_stat
  failed_when: False

- name: Backup .tmux.conf
  command: mv {{user_home}}/.tmux.conf {{user_home}}/.tmux.conf.bak
  when: tmux_stat.stat.exists

- name: Symlink .tmux.conf
  file:
    src: "{{ role_path }}/files/.tmux.conf"
    dest: "{{ user_home }}/.tmux.conf"
    state: link

- name: Install pluggins
  command: ~/.tmux/plugins/tpm/bin/install_plugins
  
- name: Start session
  command: tmux new-session -t 0 -d

- name: Source .tmux.conf
  shell: tmux source ~/.tmux.conf
