- name: Installs system packages with apt
  become: true
  ansible.builtin.apt:
    name: "{{ system_packages }}"
    state: present

- name: Include brightnessctl
  ansible.builtin.import_tasks: brightnessctl.yml

- name: Include waybar
  ansible.builtin.import_tasks: waybar.yml

- name: Install sway
  ansible.builtin.command: nix-env -iA nixpkgs.sway
  changed_when: false

- name: Add nixGL channel
  ansible.builtin.command: nix-channel --add https://github.com/guibou/nixGL/archive/main.tar.gz nixgl
  changed_when: false

- name: Update nixGL channel
  ansible.builtin.command: nix-channel --update
  changed_when: false

- name: Install nixGL wrapper
  ansible.builtin.command: nix-env -iA nixgl.auto.nixGLDefault
  changed_when: false

- name: Install swaylock to lock on lid close
  become: true
  ansible.builtin.command: nix-env -iA nixpkgs.swaylock
  changed_when: false

- name: Install swayidle to command idle actions
  become: true
  ansible.builtin.command: nix-env -iA nixpkgs.swayidle
  changed_when: false

- name: Create a sway config directory if it does not exist
  ansible.builtin.file:
    path: "{{ user_home }}/.config/sway"
    state: directory
    mode: u=rwx

- name: Create a sway config.d directory if it does not exist
  ansible.builtin.file:
    path: "{{ user_home }}/.config/sway/config.d"
    state: directory
    mode: u=rwx

- name: Symlink sway config file
  ansible.builtin.file:
    src: "{{ role_path }}/files/config"
    dest: "{{ user_home }}/.config/sway/config"
    state: link

- name: Symlink sway config.d files
  ansible.builtin.file:
    src: "{{ item }}"
    dest: "{{ user_home }}/.config/sway/config.d/{{ item | basename }}"
    state: link
    mode: u=rwx
  with_fileglob:
    - "{{ role_path }}/files/config.d/*"

- name: Ensure .config/systemd/user exists
  ansible.builtin.file:
    path: "{{ user_home }}/.config/systemd/user"
    state: directory
    mode: u=rwx

- name: Symlink sway-session.target
  ansible.builtin.file:
    src: "{{ role_path }}/files/sway-session.target"
    dest: "{{ user_home }}/.config/systemd/user/sway-session.target"
    state: link

- name: Symlink sway-init file
  ansible.builtin.file:
    src: "{{ role_path }}/files/sway-init"
    dest: "{{ user_home }}/.local/bin/sway-init"
    state: link
    mode: u=rwx

- name: Ensure /usr/share/wayland-sessions exists
  become: true
  ansible.builtin.file:
    path: /usr/share/wayland-sessions
    state: directory
    mode: u=rwx,g=r,o=r

- name: Copy custom-sway.desktop to /usr/share/wayland-sessions
  become: true
  ansible.builtin.copy:
    dest: /usr/share/wayland-sessions/custom-sway.desktop
    content: |
      [Desktop Entry]
      Name=Custom Sway
      Comment=A custom sway wm init
      Exec={{ user_home }}/.local/bin/sway-init
      Type=Application
    mode: u=rwx,g=rx,o=rx

- name: Include apps
  ansible.builtin.import_tasks: apps.yml
